<section class='fields'>
  <div class='carnet-field'>
    Carnet: <%= f.text_field(:carnet, required: true, placeholder: '201400000') %>
  </div>
  <div class='name-field'>
    Nombre: <%= f.text_field(:name, required: true) %>
  </div>
  <div class='location-field'>
    Sede: <%= f.select(:location, Participant::LOCATIONS) %>
  </div>
  <div class='career-field'>
    <% career_array = Career.all.map { |career| [career.name, career.id] } %>
    Carrera: <%= f.select(:career_id, options_for_select(career_array)) %>
  </div>
  <div class='email-field'>
    Email: <%= f.email_field(:email, required: true, placeholder: 'participante@email.com') %>
  </div>
  <div class='phone-field'>
    Telefono: <%= f.text_field(:phone, placeholder: '2525-2525') %>
  </div>
  <div class='remove-field'>
    <%= link_to "Remover", "#", onclick: "remove_fields(this)" %>
  </div>
</section>

